.custom-drop-down {
  margin: 1rem;
}

.custom-drop-down-field {
  margin: 0.4rem 0;
  padding: 0.4rem;
  background-color: white;
  width: 100%;
  border-radius: 0.4rem;
  border: 0.2rem solid white;
}