.main-survey {
  background-color: rgb(129, 57, 191);
}

.survey-label {
  float: right;
  background-color: cornsilk;
  padding: 0.5rem;
  color: red;
  position: fixed;
  right: 1rem;
  top: 1rem;
}