.main-survey-component {
  width: 30vw;
  position: relative;
  left: 40rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-survey-component-form {
  margin-top: 2rem;
  background-color: violet;
  padding: 2rem;
}