.App {
    background: linear-gradient(rgba(0, 0, 150, 0.4) 100%,
    rgba(0, 0, 0, 1) 100%),
    url(../src/assets/xyz.jpeg) no-repeat fixed;
    background-size: cover;
    opacity: 0.8;
}

.survey-label {
    font-size: 0.8rem;
    background-color: cornsilk;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    position: fixed;
    right: 1rem;
    top: 5rem;
}