.App {
    background-image: url(../src/assets/xyz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.survey-label {
    float: right;
    background-color: cornsilk;
    padding: 0.5rem;
    color: red;
    position: fixed;
    right: 1rem;
    top: 1rem;
}