.test-suite {
  background-color: cornsilk;
  position: fixed;
  padding: 1rem 1rem;
  top: 4rem;
}

.icon-position{

}

.test-suite-form-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //margin: 1rem 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.test-suite-links {
  display: flex;
  justify-content: space-between;
}

.link:hover {
  text-decoration: none;
  color: violet;
}

.link:last-child {
  margin-left: 1rem;
}